{:kotoba.app/id "cloud.itonami.isic-5912", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigosx3kcprewjhjunmkfj4lrz4vwgnpk3lu7775jbzsadrzrqskke", :kotoba.app/embed-url "ipfs://bafkreigosx3kcprewjhjunmkfj4lrz4vwgnpk3lu7775jbzsadrzrqskke", :published {:archive "https://kotobase.net/ipfs/bafkreigosx3kcprewjhjunmkfj4lrz4vwgnpk3lu7775jbzsadrzrqskke", :size 73238, :put-status 201, :get-status 200, :at "2026-08-15T14:02:26.316Z"}}
